.color-box {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin: 10px;
  }

  .boxes{
    display: flex;
    flex-direction: row;
  }

/* .cajas{
    display: flex;
    flex-direction: row;
} */